<script type='text/javascript'> $(function() { Dashing.gridsterLayout('[{"col":2,"row":1,"size_x":2,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":3},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":2,"size_y":1},{"col":1,"row":1,"size_x":1,"size_y":3}]') }); </script>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="" data-text="Current Project: RBC Mission on Mars" data-moreinfo="PAM"></div>
      <i class="icon-rocket icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="task1" data-view="Meter" data-title="Task 1: Build RBC Rocket" data-min="0" data-max="100" style="background-color:#FF0606"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="3">
      <div data-id="taskview" data-view="List" data-unordered="true" data-title="Task View" data-moreinfo="# of Remaining Docs to Sign Off" style="background-color:#ff9618;"> </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="task2" data-view="Meter" data-title="Task 2: Venus Subsidiary" data-min="0" data-max="100" style="background-color:#26A315"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="docreviews" data-view="List" data-unordered="true" data-title="Required Doc Reviews" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="3">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Project Central"></div>
    </li>

  </ul>
</div>
